<h1>articles</h1>
<h3>Tweet: <%= tweet %></h3>
<h4>By: <%= author %></h4>
<h5>Check to save article to tweet!</h5>
<form action="/compcoll/favourites" method="POST">
    <input type="hidden" name="tweet" value="<%= tweet %>">

<% for (ele in results[0][1]) { %>
    <% let newer = results[0][0][ele].string.replace(/href="/, websites[0]) %>
    <% let titler = results[0][1][ele].string.replace(/title=|([\d|.|&|#|:|;])*/g, '') %>
    <p>Breitbart: </p>
    <p><%= titler %></p>
    <input type="checkbox" name="article" value="<%= titler %>">
    <input type="submit" value="Save Article" class="submitform">
<% } %>
<% for (ele in results[1][1]) { %>
    <% let newer = results[1][0][ele].string.replace(/href="/, websites[1]) %>
    <% let titler = results[1][1][ele].string.replace(/<h3 class="gs-c-promo-heading__title gel-pica-bold nw-o-link-split__text">|([\d|.|&|#|:|;])*/g, '') %>
    <p>BBC: </p>
    <p><%= titler %></p>
    <input type="checkbox" name="article" value="<%= titler %>">
    <input type="submit" value="Save Article" class="submitform">
<% } %>
<% for (ele in results[2][1]) { %>
    <% let newer = results[2][0][ele].string.replace(/href="/, websites[2]) %>
    <% let titler = results[2][1][ele].string.replace(/<h2 class="css-1j9dxys e1xfvim30">|([\d|.|&|#|:|;])*/g, '') %>
    <p>NYtimes: </p>
    <p><%= titler %></p>
    <input type="checkbox" name="article" value="<%= titler %>>">
    <input type="submit" value="Save Article" class="submitform">
<% } %>
<% for (ele in results[3][1]) { %>
    <% let newer = results[3][0][ele].string.replace(/href="/, websites[3]) %>
    <% let titler = results[3][1][ele].string.replace(/"Permanent Link to|title=|([\d|.|&|#|:|;])*/g, '') %>
    <p>Infowars: </p>
    <p><%= titler %></p>
    <input type="checkbox" name="article" value="<%= titler %>>">
    <input type="submit" value="Save Article" class="submitform">
<% } %>
<% for (ele in results[4][1]) { %>
    <% let newer = results[4][0][ele].string.replace(/href="/, websites[4]) %>
    <% let titler = results[4][1][ele].string.replace(/title=|([\d|.|&|#|:|;])*/g, '') %>
    <p>Fox: </p>
    <p><%= titler %></p>
    <input type="checkbox" name="article" value="<%= titler %>>">
    <input type="submit" value="Save Article" class="submitform">
    
<% } %>
<br><br><br>
</form>
